body{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.gridHolder{
  height: 70%;
  width: 70%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 2fr;
  grid-row-gap:15px;
  grid-column-gap:10px;
}
div{
  height: 100%;
  width: 100%;

}
.title{
  grid-row-start: 1;
  grid-row-end: 3;
  border: 1px solid;
  border-radius: 8px;
}
.projects{
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 2;
  grid-column-end: 4;
  border: 1px solid;
  border-radius: 8px;
}
.contact{
  border: 1px solid;
  border-radius: 8px;
}
.skills{
  border: 1px solid;
  border-radius: 8px;
}